In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('./default.csv')
df.head()

,아파트,지역구,감정가,전용면적
0,서울특별시 서대문구 홍제동 461-1 홍제삼성래미안아파트 제106동 제11층 제1101호,서울특별시 서대문구,508000000,[전용 9.9평]
1,서울특별시 노원구 상계동 737 상계주공아파트 제306동 제3층 제301호,서울특별시 노원구,316000000,[전용 9.8평]
2,서울특별시 양천구 신정동 310외 2필지 목동신시가지아파트 제1013동 제1층 제102호,서울특별시 양천구,445000000,[전용 9.3평]
3,서울특별시 성동구 상왕십리동 811 텐즈힐 제212동 제14층 제1402호,서울특별시 성동구,462000000,[전용 9.1평]
4,서울특별시 금천구 독산동 1147 금천롯데캐슬골드파크1차 제111동 제15층 제1501호,서울특별시 금천구,381000000,[전용 9.1평]

### 전용면적 숫자만

In [4]:
df['전용면적'] = df['전용면적'].apply(lambda x: str(x).replace('평]',''))
df['전용면적'] = df['전용면적'].apply(lambda x: str(x).replace('[전용 ',''))
df['전용면적'] = df['전용면적'].apply(lambda x: float(x))
df['지역구'] = df['지역구'].apply(lambda x: x.replace('서울특별시 ',''))

In [5]:
df.head()

                                                 아파트   지역구        감정가  전용면적
0  서울특별시 서대문구 홍제동 461-1 홍제삼성래미안아파트 제106동 제11층 제1101호  서대문구  508000000   9.9
1          서울특별시 노원구 상계동 737 상계주공아파트 제306동 제3층 제301호   노원구  316000000   9.8
2  서울특별시 양천구 신정동 310외 2필지 목동신시가지아파트 제1013동 제1층 제102호   양천구  445000000   9.3
3          서울특별시 성동구 상왕십리동 811 텐즈힐 제212동 제14층 제1402호   성동구  462000000   9.1
4  서울특별시 금천구 독산동 1147 금천롯데캐슬골드파크1차 제111동 제15층 제1501호   금천구  381000000   9.1

In [6]:
encoding_columns = ['지역구']
not_encoding_columns = ['전용면적', '감정가']

In [7]:
enc_classes = {}
def encoding_label(x):
    le = LabelEncoder()
    label = le.fit_transform(x)
    
    enc_classes[x.name] = le.classes_
    return label

d1 = df[encoding_columns].apply(encoding_label)
d2 = df[not_encoding_columns]
data = d1.join(d2)
data.head()

   지역구  전용면적        감정가
0   13   9.9  508000000
1    8   9.8  316000000
2   18   9.3  445000000
3   15   9.1  462000000
4    7   9.1  381000000

### Decision Tree

In [8]:
y = data['감정가']
X = data.drop(columns = '감정가')

In [9]:
from sklearn.tree import DecisionTreeClassifier

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state = 21)

# 모델 생성
for i in range(3,100):
    train_score = 0
    test_score = 0

    tree = DecisionTreeClassifier(max_depth=i)

    # 학습
    tree.fit(X_train, y_train)

    pred_train = tree.predict(X_train)
    pred_test = tree.predict(X_test)
    acc_train = accuracy_score(y_train, pred_train)
    acc_test = accuracy_score(y_test, pred_test)
    
    if train_score < acc_train:
        train_score = acc_train
    if test_score < acc_test:
        test_score = acc_test
print('train :', acc_train)
print('test:', acc_test)

train : 0.5468277945619335
test: 0.024096385542168676

### 나이브베이즈

In [156]:
from sklearn.naive_bayes import GaussianNB
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state = 50)
gnb = GaussianNB()
gnb.fit(X_train, y_train)

pred_train = gnb.predict(X_train)
pred_test = gnb.predict(X_test)
acc_train = accuracy_score(y_train, pred_train)
acc_test = accuracy_score(y_test, pred_test)

print('train :', acc_train)
print('test:', acc_test)

train : 0.2638469284994965
test: 0.008032128514056224