# 목표

#### 1. 기본적으로 주가를 예측하는 것을 목표로 한다.
#### 2. 주가를 예측하기 위해, 주가 데이터만 사용하는 것이 아니라 기업의 재무상태 또한 고려하려 한다.
#### 3. 여기서 문제점은 주가의 종가는 매일 업데이트 되지만 재무상태는 1년에 한 번 공시된다는 것이다. 
#### 4. 물론 분기별 재무보고서가 있지만 수정되는 경우도 많고, 정확하지 않은 경우가 많아 사업계획서를 기준으로 한다.

## Imports

#### 데이터 분석 라이브러리

In [ ]:
import pandas as pd
import numpy as np

#### 시각화 라이브러리

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

#### 머신러닝용 라이브러리

In [3]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

#### 기타 필요한 라이브러리

In [4]:
import warnings
warnings.filterwarnings('ignore')
from fqtoolkit import dgToDf as dtd
import statsmodels.api as sm
import riskfolio as rp

## Data 불러오기

O 데이터는 기본적으로 데이터 가이드에서 재공되는 주가정보와 재무 정보를 사용한다.    
   
- 기업 : 코스피 시총 상위 50개 기업 + 코스닥 시총 상위 50개 기업 
- 기간 : 2020.01 ~ 2022.05  
- 기준 : 월말, 1~12월 data same
- 단위 : KRW(원)

O 재무 정보는 재무재표를 기준으로 하고, Feature로 **Asset, Liability, Sale, Income, Price**를 사용한다.

- assets : 총자산 
- liability : 총부채
- sale : 매출액
- income : 영업이익
- price : 수정주가(배당반영)

In [5]:
assets, liability, sale, income, price = [item[1] for item in dtd("data2.xlsx", "Sheet1", 5).items()]

- 문제는 앞서 말한 주가 정보와 재무재표의 기간이 맞지 않는다는 것인데, 주가 데이터는 당월 종가를 기준으로 하고, 재무제표는 당년 6월에 발표된다고 가정하였다. 
- 2020년 1월에 투자를 한다고 가정하면, 2019년 6월에 발표된 재무제표를 기준으로 판단할 수 밖에 없기 때문에 price를 shift 해줘 주가 데이터와 재무 정보의 시작점을 같게 한다.

In [6]:
assets0 = assets.pct_change()
liability0 = liability.pct_change()

In [7]:
price.shift(12);

In [8]:
price = price.dropna(axis=1)
returns = price.shift(12+6).pct_change()

returns

,삼성전자,SK하이닉스,삼성SDI,현대차,카카오,기아,POSCO홀딩스,현대모비스,한국전력,SK텔레콤,...,기업은행,롯데케미칼,한국조선해양,한온시스템,HLB,CJ ENM,동진쎄미켐,동화기업,네이처셀,주성엔지니어링
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2000-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-31,0.096598,-0.027025,0.093534,0.294771,0.284103,0.260543,0.112072,0.070313,-0.020492,0.045026,...,0.003782,0.008978,0.020595,0.099343,-0.097196,0.043517,0.122576,0.483533,0.048673,0.248111
2022-02-28,-0.067365,-0.092993,0.138365,0.395263,0.184868,0.050754,-0.046515,0.090025,0.073279,0.124718,...,-0.002512,0.124630,-0.033632,0.295209,0.038276,0.031274,0.050619,-0.092836,0.123418,-0.064293
2022-03-31,0.084328,0.118508,-0.041989,0.011329,-0.104420,0.104813,0.070547,0.026787,-0.004848,-0.040314,...,-0.009931,0.036941,-0.040603,-0.037232,0.194703,0.198822,-0.106929,-0.083426,-0.075117,0.064243
2022-04-30,-0.027485,-0.048815,0.019608,-0.078429,-0.094652,0.076757,0.061227,-0.019565,-0.022049,-0.100839,...,0.020062,0.185751,-0.051995,-0.093148,-0.112834,-0.075896,-0.084297,-0.145631,-0.074112,-0.001448
2022-05-16,0.178450,0.220277,0.205882,0.103342,0.115156,0.144572,0.124995,0.082040,0.075189,0.109794,...,0.138227,0.210298,0.313776,0.343747,-0.009770,0.012930,0.136271,0.242898,0.059211,0.120760

### Clustering

In [12]:
X = pd.DataFrame()
for i in range(0,len(assets.index),12):
    X = X.append(assets.iloc[i])
X

,삼성전자,LG에너지솔루션,SK하이닉스,삼성바이오로직스,NAVER,삼성SDI,현대차,카카오,LG화학,기아,...,네이처셀,주성엔지니어링,SFA반도체,덕산네오룩스,메가스터디교육,NICE평가정보,피엔티,케어젠,와이지엔터테인먼트,에이비엘바이오
2000-01-31,4.642150e+10,NaN,2.128287e+10,NaN,3.640202e+07,5.663565e+09,3.198721e+10,9.197135e+07,NaN,8.828701e+09,...,20534862.00,2.008390e+08,2.200540e+07,NaN,NaN,5.533616e+07,NaN,NaN,NaN,NaN
2001-01-31,5.211488e+10,NaN,1.441334e+10,NaN,4.600652e+07,5.630804e+09,3.987230e+10,1.450934e+08,3.636326e+09,9.812333e+09,...,16418794.00,2.138113e+08,3.623972e+07,NaN,NaN,7.368140e+07,NaN,NaN,NaN,NaN
2002-01-31,6.495499e+10,NaN,1.115963e+10,NaN,1.252079e+08,5.725090e+09,4.594547e+10,1.625884e+08,4.618144e+09,1.081520e+10,...,15552957.00,1.401451e+08,4.208461e+07,NaN,NaN,7.760807e+07,NaN,NaN,NaN,NaN
2003-01-31,6.804174e+10,NaN,8.603848e+09,NaN,2.006867e+08,6.409798e+09,5.342682e+10,2.121888e+08,5.835172e+09,1.351332e+10,...,8762283.00,1.179045e+08,7.808548e+07,NaN,NaN,8.831396e+07,NaN,NaN,NaN,NaN
2004-01-31,6.900462e+10,NaN,8.846875e+09,NaN,3.713483e+08,6.722372e+09,5.802313e+10,4.051957e+08,6.897243e+09,1.439987e+10,...,7919411.00,1.603942e+08,9.728073e+07,NaN,NaN,8.811036e+07,NaN,1.268583e+06,NaN,NaN
2005-01-31,7.446180e+10,NaN,1.069729e+10,NaN,4.055770e+08,6.700613e+09,6.607877e+10,4.353898e+08,7.291334e+09,1.603449e+10,...,9562844.00,1.863002e+08,1.498995e+08,NaN,NaN,1.022882e+08,NaN,3.352043e+06,NaN,NaN
2006-01-31,8.136621e+10,NaN,1.538491e+10,NaN,5.822588e+08,6.888625e+09,7.070948e+10,3.467310e+08,7.638435e+09,1.734294e+10,...,8779267.00,2.065712e+08,1.653741e+08,NaN,NaN,1.049335e+08,8.474074e+06,3.826036e+06,NaN,NaN
2007-01-31,9.337514e+10,NaN,1.771830e+10,NaN,8.561845e+08,7.114692e+09,8.384753e+10,2.208749e+08,8.550754e+09,1.946100e+10,...,6456017.00,2.744838e+08,3.766747e+08,NaN,NaN,1.165803e+08,1.129816e+07,5.878208e+06,1.091431e+07,NaN
2008-01-31,1.053006e+11,NaN,1.657622e+10,NaN,1.219211e+09,6.768821e+09,1.032058e+11,2.973824e+08,9.735573e+09,2.558355e+10,...,40045643.00,3.087595e+08,3.889821e+08,NaN,NaN,1.317103e+08,1.945529e+07,7.487283e+06,1.739275e+07,NaN
2009-01-31,1.121798e+11,NaN,1.630353e+10,NaN,1.605435e+09,7.147735e+09,1.023249e+11,3.078796e+08,1.053059e+10,2.596288e+10,...,28582445.00,3.675428e+08,4.138146e+08,NaN,NaN,NaN,2.695206e+07,1.433815e+07,2.027773e+07,NaN
2010-01-31,1.342887e+11,NaN,1.741212e+10,NaN,1.966958e+09,7.933567e+09,9.471413e+10,4.607726e+08,1.267346e+10,2.627514e+10,...,24448070.70,5.387341e+08,4.360918e+08,NaN,NaN,1.216889e+08,4.555888e+07,1.944664e+07,3.730669e+07,NaN
2011-01-31,1.558003e+11,NaN,1.723815e+10,1.843478e+08,2.372705e+09,8.527411e+09,1.094800e+11,5.587317e+08,1.528555e+10,3.025518e+10,...,26205791.70,5.252197e+08,5.992527e+08,NaN,NaN,1.294742e+08,5.367507e+07,2.569452e+07,9.040185e+07,NaN
2012-01-31,1.810716e+11,NaN,1.864869e+10,5.702786e+08,2.927317e+09,1.089509e+10,1.215378e+11,6.118694e+08,1.658115e+10,3.239831e+10,...,24824588.69,4.074912e+08,8.186084e+08,NaN,NaN,1.453911e+08,7.843911e+07,5.009448e+07,1.174955e+08,NaN
2013-01-31,2.140750e+11,NaN,2.079730e+10,6.534257e+08,2.697747e+09,1.055567e+10,1.334215e+11,2.172004e+08,1.744646e+10,3.618204e+10,...,23016529.69,3.708850e+08,7.578404e+08,NaN,NaN,1.477450e+08,7.285167e+07,4.503399e+07,1.320499e+08,NaN
2014-01-31,2.304230e+11,NaN,2.688328e+10,1.357295e+09,3.394458e+09,1.596855e+10,1.472251e+11,2.768025e+09,1.812765e+10,4.104420e+10,...,24536576.42,3.033100e+08,8.132513e+08,1.084145e+08,NaN,1.677897e+08,8.807489e+07,6.197867e+07,3.404621e+08,NaN
2015-01-31,2.421795e+11,NaN,2.967791e+10,5.960494e+09,4.385913e+09,1.622530e+10,1.653679e+11,3.188478e+09,1.857873e+10,4.598011e+10,...,45969748.43,3.077003e+08,7.267070e+08,1.142143e+08,2.286905e+08,1.901089e+08,1.018092e+08,2.494227e+08,3.753561e+08,NaN
2016-01-31,2.621743e+11,NaN,3.221603e+10,7.533016e+09,6.370635e+09,1.490031e+10,1.788359e+11,5.484117e+09,2.048706e+10,5.088926e+10,...,50596382.58,3.275126e+08,6.761748e+08,1.181357e+08,2.318239e+08,2.186739e+08,1.534798e+08,2.306820e+08,4.868356e+08,7.530313e+06
2017-01-31,3.017521e+11,NaN,4.541846e+10,7.183091e+09,8.019252e+09,1.574171e+10,1.781995e+11,6.349428e+09,2.504122e+10,5.229444e+10,...,51440662.76,3.152654e+08,6.329215e+08,1.492449e+08,2.844330e+08,2.346862e+08,2.409168e+08,2.218226e+08,5.835995e+08,2.036964e+07
2018-01-31,3.393572e+11,NaN,6.365834e+10,5.980409e+09,9.881191e+09,1.934972e+10,1.806558e+11,7.959542e+09,2.894414e+10,5.178660e+10,...,52875421.98,3.581522e+08,6.273667e+08,1.603228e+08,3.671909e+08,2.680562e+08,2.908949e+08,2.189381e+08,5.943242e+08,1.688691e+08
2019-01-31,3.525645e+11,NaN,6.524835e+10,5.911627e+09,1.229953e+10,1.985210e+10,1.945122e+11,8.737256e+09,3.402443e+10,5.534480e+10,...,93110327.99,4.448883e+08,6.612285e+08,1.813110e+08,4.328164e+08,3.190828e+08,5.003310e+08,2.318470e+08,5.163469e+08,1.429027e+08
2020-01-31,3.782357e+11,1.994180e+10,7.117385e+10,6.424201e+09,1.701424e+10,2.153423e+10,2.093442e+11,1.195397e+10,4.138889e+10,6.049044e+10,...,85749949.70,5.492031e+08,5.865449e+08,2.209129e+08,5.540232e+08,3.688036e+08,4.354281e+08,2.165561e+08,5.428175e+08,9.989444e+07
2021-01-31,4.266212e+11,2.376414e+10,9.638647e+10,7.970011e+09,3.369101e+10,2.583319e+10,2.339464e+11,2.277956e+10,5.113530e+10,6.685000e+10,...,69649961.57,7.118994e+08,6.493953e+08,3.366657e+08,7.242980e+08,4.342700e+08,5.763593e+08,2.267600e+08,6.214835e+08,6.545276e+07
2022-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
ax,an = plot_dendrogram(returns=X, codependence='spearman',
                        linkage='ward', k=None, max_k=5,
                        leaf_order=True, ax=None)
ax;

NameError: name 'plot_dendrogram' is not defined

In [14]:
color = list(set(an['leaves_color_list']))
new_df = pd.DataFrame()
new_df['CODE'] = an['leaves']
new_df['SORTED'] = an['leaves_color_list']
new_df = new_df.sort_values(by=['CODE'])
new_df['COMPANY'] = X.columns
li = []
for i in color:
    li.append(new_df['COMPANY'][new_df['SORTED']==i])

len(li[3])

NameError: name 'an' is not defined

### Rolling
- Rolling 기간은 122달로 설정하였다.

In [ ]:
rolling_period = 122
results = {}

for col in returns.columns:
    reSeries = {}
    for n in range(1, returns.shape[0]-rolling_period):
        
        temp = pd.DataFrame({"asset":assets0[col].iloc[n:n+rolling_period-1],
                            "liability":liability0[col].iloc[n:n+rolling_period-1],
                            "sale":sale[col].iloc[n:n+rolling_period-1],
                            "income":income[col].iloc[n:n+rolling_period-1],
                             "re0": returns[col].iloc[n-1:n+rolling_period-2],
                            "re": returns[col].iloc[n:n+rolling_period-1]})
        print(temp)
        temp = temp.dropna()
        future = returns[col].iloc[n+120]
        
        if temp.shape[0] < 50:
            continue
            
        model = DecisionTreeRegressor(max_depth=6)#
        model.fit(temp.drop("re", axis=1).iloc[:-1,:], temp["re"].iloc[:-1])
        
        r = model.predict(temp.drop("re", axis=1).iloc[[-1], :])
        
        reSeries[temp.index[-1]] = temp["re"].iloc[-1]-r[0]
        
    if len(reSeries) > 0:
        results[col] = pd.Series(reSeries)

In [ ]:
list(li[0])

In [ ]:
r2 = []
acc = []

for n in range(12, 48):
    results = pd.DataFrame(results)
    signal = (results).mean(axis=1)

    signal = (signal-signal.shift(1).rolling(n).mean())/signal.shift(1).rolling(n).std() #변경 말것!
    temp = pd.DataFrame({"returns":returns.shift(-1).mean(axis=1), "result":signal}).dropna()

    test = temp.iloc[int(temp.shape[0]/4):2*int(temp.shape[0]/4), :]
    test0 = temp.iloc[2*int(temp.shape[0]/4):, :]
    
    training = temp.iloc[:int(temp.shape[0]/4), :]

    mu = training.result.mean()
    sd = training.result.std()

    test.result = (test.result-mu)/sd
    test0.result = (test0.result-mu)/sd
    training.result = (training.result - mu) /sd

    test["returns+"] = np.where(test["returns"] > 0, test["returns"], 0)
    test0["returns+"] = np.where(test0["returns"] > 0, test0["returns"], 0)

    test["port"] = test["returns"] * np.where(-test.result>2, 1, 0)
    test0["port"] = test0["returns"] *np.where(-test0.result>2, 1, 0)
    
    acc.append(accuracy_score(np.where(test.returns>0, 1, 0), np.where(-test.result>0, 1, 0)))

    from sklearn.metrics import accuracy_score

    print(f"{np.corrcoef(test.returns, -test.result)[1,0 ] ** 2 * 100:.4f}%")
    r2.append(np.corrcoef(test.returns, -test.result)[1,0 ] ** 2)

In [ ]:
pd.Series(r2, index=range(12, 48)).argmax()+12

In [ ]:
plt.plot(range(12, 48), r2)

In [ ]:
n = 33

results = pd.DataFrame(results)

signal = (results).mean(axis=1)
#
signal = (signal-signal.shift(1).rolling(n).mean())/signal.shift(1).rolling(n).std() #변경 말것!
temp = pd.DataFrame({"returns":returns.shift(-1).mean(axis=1), "result":signal}).dropna()
test = temp.iloc[int(temp.shape[0]/4):2*int(temp.shape[0]/4), :]
test0 = temp.iloc[2*int(temp.shape[0]/4):, :]

mu = temp.result.iloc[:int(temp.shape[0]/4)].mean()
sd = temp.result.iloc[:int(temp.shape[0]/4)].std()

test.result = (test.result-mu)/sd

test0.result = (test0.result-mu)/sd


test["returns+"] = np.where(test["returns"] > 0, test["returns"], 0)
test0["returns+"] = np.where(test0["returns"] > 0, test0["returns"], 0)

test["port"] = test["returns"] * -1*test.result#np.where(-1*test.result >0,, 0)
test0["port"] = test0["returns"] * np.where( -1*test0.result > 0, 1, 0)

from sklearn.metrics import classification_report

print(f"{np.corrcoef(test.returns, -test.result)[1,0 ] ** 2 * 100:.4f}%")
    
print(classification_report(np.where(test.returns> 0, 1, 0), np.where(-test.result >0, 1, 0)))

In [ ]:
print(f"{np.corrcoef(test0.returns, -test0.result)[1,0 ] ** 2 * 100:.4f}%")
    
print(classification_report(np.where(test0.returns> 0, 1, 0), np.where(-test0.result >0, 1, 0)))

In [ ]:
plt.plot(test0.result,test0.returns, "o")

In [ ]:
plt.plot((1+test0["port"]*1).cumprod())
plt.plot((1+test0.returns*1).cumprod())

In [ ]:
plt.plot(test0.returns ,test0["port"], "o")

In [ ]:
print(test0["port"].mean() * np.sqrt(12)/ test0["port"].std())
print(test0["returns"].mean() * np.sqrt(12)/ test0["returns"].std())

In [ ]:
test0.corr()

In [10]:
sm.OLS(test0["port"], sm.add_constant(test0[["returns", "returns+"]])).fit().summary()

NameError: name 'test0' is not defined

In [11]:
plt.plot((1+test0["returns"]).cumprod())

NameError: name 'test0' is not defined

In [22]:
np.mean(np.where(test0["returns"]>0, 1, 0))

0.6491228070175439

In [23]:
from itertools import combinations as c

def estimation(bench, port):
    n0 = 0
    n = 0
    for t1, t2, t3 in c(range(len(bench)), 3):
        n0 += 1 
        rms = bench.iloc[[t1, t2, t3]].sort_values() 
        trueT1, trueT2, trueT3 = rms.index 
        betaH = (port.loc[trueT3] - port.loc[trueT2]) / (bench.loc[trueT3] - bench.loc[trueT2]) 
        betaL = (port.loc[trueT2] - port.loc[trueT1]) / (bench.loc[trueT2] - bench.loc[trueT1])
        
        if betaH > betaL:       
            n += 1          
    return 2*(n / n0) -1
          
def kernel(rms, ris):
    
    rm1, rm2, rm3 = rms
    ri1, ri2, ri3 = ris   
    premise = rm1 < rm2 and rm2 < rm3
    
    if not premise:       
        return 0
    
    betaH = (ri3 - ri2) / (rm3 - rm2)        
    betaL = (ri2 - ri1) / (rm2 - rm1)
    conclusion = betaH > betaL
       
    if  premise and not conclusion:       
        return 0   
    else:
      
        return 1

def stanardE(bench, port, esti):
    sum0 = 0
    for t1 in bench.index:   
        sum1 = 0     
        n0 = 0    
        for t2, t3 in c(bench.index, 2):            
            n0 += 1           
            sum1 += kernel(bench.loc[[t1, t2, t3]], port.loc[[t1, t2, t3]])
        sum1 = (sum1 / n0 - esti) ** 2       
        sum0 += sum1
    var = 9 / len(bench.index) * sum0
    return np.sqrt(var)
    
from scipy.stats import norm

def nonParaMT(bench, port):
    
    esti = estimation(bench, port)
    se = stanardE(bench, port, esti)
    statistic = esti * np.sqrt(len(bench)) /se
    pVal = 1 - norm.cdf(statistic, loc=0, scale=1)
    return esti, se , statistic, pVal

In [24]:
nonParaMT(test0["returns"], test0["port"])

(-0.25037593984962403,
 0.9963193242547572,
 -1.8972801655271554,
 0.9711045143312425)