In [170]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

from sklearn.ensemble import RandomForestRegressor

import matplotlib.pyplot as plt

###  predict the average production of coffee in a given country.

In [51]:
df_paths = [
    './Coffee Production Prediction/domestic-consumption.csv',
    './Coffee Production Prediction/exports-calendar-year.csv',
    './Coffee Production Prediction/exports-crop-year.csv',
    './Coffee Production Prediction/gross-opening-stocks.csv',
    './Coffee Production Prediction/total-production.csv'
]

In [128]:
df0 = pd.read_csv(df_paths[0]) # Domestic_consumption
df1 = pd.read_csv(df_paths[1]) # Exports of all forms of coffee by all exporting countries (In thousand 60-kg bags)
df2 = pd.read_csv(df_paths[2]) # Total exports by all exporting countries (In thousand 60-kg bags)
df3 = pd.read_csv(df_paths[3])
df4 = pd.read_csv(df_paths[4])

total_df = [df0, df1, df2, df3, df4]

In [134]:
df = pd.DataFrame()
df['Country'] = df0['domestic_consumption']

for i in total_df:
    df[i.columns[0]] = i.T[1:].mean()
df.head()

,Country,domestic_consumption,exports,exports_crop_year,gross_opening_stocks,total_production
0,Angola,25.689655,24.115531,23.187083,42.068966,45.256048
1,Bolivia (Plurinational State of),41.103448,0.063966,76.904748,7.237931,116.146128
2,Brazil,15234.310345,78.384152,25919.128803,23213.206897,41067.783976
3,Burundi,1.891966,25706.195606,356.056321,48.979690,350.172424
4,Ecuador,214.137931,363.186423,1105.434110,108.592069,1076.504352

In [148]:
df = df.drop('Country', axis=1)
y = df['total_production']
X = df.drop('total_production', axis = 1)

In [165]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 100)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)

model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [172]:
y_pred = model.predict(X_test)

r2 = 1 - (np.sum((y_test - y_pred)**2) / np.sum((y_test - y_test.mean())**2))
print("R^2: {:.5f}".format(r2))

R^2: 0.75144